* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* Variable colors */
:root {
  --dark: #353535;
  --light: #d9d9d9;
  --purple: #2d7eb4;
  --blue: #004aad;
  --lighter: #eff4fd;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: var(--lighter);
}

nav {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 2px 0;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  color: var(--dark);
}

nav ul li a {
  text-decoration: none;
  color: var(--dark);
  font-weight: bold;
  font-size: 30px;
}

nav ul li a:hover {
  color: var(--blue);
  transition: all 0.3s ease-in-out;
  /* font-size: 35px; */
  /* text-shadow: 0px 0px 30px white; */
}

.details {
  margin-left: 8%;
  margin-top: 15%;
}

.details h1 {
  font-size: 50px;
  color: var(--dark);
  margin-bottom: 20px;
}

span {
  color: var(--blue);
  line-height: 22px;
}

.details p {
  font-size: 20px;
  color: var(--dark);
  line-height: 22px;
}

.details a {
  background: var(--dark);
  padding: 10px 16px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin: 30px 0;
  border-radius: 10px;
}

.details a:hover {
  background: var(--blue);
  transform-style: (1.05);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.images {
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.images img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
  top: -100px;
}

.images:hover .shape {
  /* bottom: 45%;
  right: 45%; */
  opacity: 0.9;
}

.images:hover .me {
  left: 45%;
}

/* media links */
.social {
  margin-left: 8%;
  margin-top: 2px;
}

.social a {
  font-size: 30px;
  color: var(--dark);
  margin-right: 20px;
}

.social a:hover {
  color: var(--blue);
}

.aboutMe {
  margin-left: 8%;
  /* margin-top: 15%; */
  margin-top: 220px;
}

.aboutMe h1 {
  font-size: 50px;
  color: var(--dark);
  margin-bottom: 20px;
}

.aboutMe p {
  font-size: 20px;
  color: var(--dark);
  line-height: 22px;
}

/* Cards below */
/* card body anchors */
.wrapper a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: x-large;
  color: #d9d9d9;
  text-decoration: none;
}

/* card wrapper */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* CSS for cards styling below */
main {
  color: var(--dark);
  background-color: var(--lighter);
}

.card {
  overflow: hidden;
  background-color: var(--l-ighter);
  box-shadow: 0 10px 10px rgb(90, 90, 90);
  border: 3px solid var(--dark);
  border-radius: 0.5rem;
  position: relative;
  width: 350px;
  margin: 1rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform-style: (1.05);
  transform: scale(1.1);
  box-shadow: 0px 2px 40px var(rgb(0, 0, 0));
}

/* larger top project card */
.card-large {
  overflow: hidden;
  background-color: var(--lighter);
  box-shadow: 0 10px 10px rgb(90, 90, 90);
  border: 3px solid var(--dark);
  border-radius: 0.5rem;
  position: relative;
  width: 730px;
  margin: 1rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card-large:hover {
  transform-style: (1.05);
  transform: scale(1.07);
  box-shadow: 0px 2px 40px var(--dark);
}

.banner-img {
  position: absolute;
  object-fit: cover;
  height: 14rem;
  width: 100%;
}

.project-tag {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  border: 1px solid rgb(100, 100, 100);
  background: var(--blue);
  padding: 0.5rem 1.3rem 0.5rem 1rem;
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  top: 1rem;
  border-radius: 0 2rem 2rem 0;
}

.card-body {
  margin: 15rem 1rem 1rem 1rem;
}

.project-clickme {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
  color: var(--blue);
}

.project-title {
  line-height: 1.5rem;
  margin: 1rem 0 0.5rem;
  color: #1d1d1d;
}
.project-description {
  color: var(--dark);
  font-size: 1rem;
}

@media screen and (max-width: 740px) {
  .card-large {
    width: 450px;
  }
}

@media screen and (max-width: 760px) {
  .wrap {
    position: relative;
  }
  .images img {
    top: 140px;
  }
  .aboutMe {
    margin-top: 600px;
  }
  .projectsResponse {
    margin-top: 50px;
  }
}

/* animation */
.fadein {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slidein {
  animation: slidein 5s;
}

@keyframes slidein {
  0% {
    margin-left: -1600px;
  }

  22% {
    margin-left: 0px;
  }
}
