* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #353535;
}

li,
a {
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: large;
  color: #d9d9d9;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.nameLogo {
  cursor: pointer;
  margin-right: auto;
}

.nav-container li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-container li a {
  transition: all 0.3s ease 0s;
}

.nav-container li a:hover {
  color: #284b63;
}

@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    padding: 10px;
  }
}
